# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
TEMP
/.vscode/
forge-1.12.2-14.23.5.2864_mapped_snapshot_20171003-1.12-sources*
